<h1>Wedding Venue</h1>
<br/>
<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @venue.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @venue.phone %>
</p>

<%= link_to 'Back', venues_path %>

