<div class="view">
  <h1>Wedding Photographer</h1>
  
  <p>
    <strong>Name:</strong>
    <%= @photographer.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @photographer.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @photographer.phone %>
  </p>

  <%= link_to 'Back', photographers_path %>

</div>
