<p>
  <strong>Wedding:</strong>
  <% @photo.wedding %>
</p>

<p>
  <strong>Photographer:</strong>
  <%= @photo.photographer %>
</p>

<p>
  <strong>Image:</strong>
  <%= @photo.image %>
</p>

<%= link_to 'Back', photos_path %>
