// Place all the styles related to the Photographers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.view {
    width:100%;
    margin:0;
    background-color: moccasin;
    color: navy;
}

h1 {
  width:100%;
  margin:0;
  background-color: navy;
  color: white;
  height:2em;
}

div.formdiv {
  width:100%;
  margin:0;
  background-color: moccasin;
  color: navy;
}

div.entrydiv {
  width:100%;
  margin:0;
  background-color: moccasin;
  color: navy;
}

div.tablediv {
  width:100%;
  margin:0;
  background-color: moccasin;
  color: navy;
}


